.orderCompletion_top{
    height:0.92rem;
    line-height:0.92rem;
    background:url(../../assets/images/orderbg2.jpg) no-repeat;
    background-size:100%;
    font-size:0.34rem;
    color:#fff;
    padding:0 0.4rem;
}
.orderCompletion_top1{
    background-image:url(../../assets/images/orderbg4.jpg);
}
.orderCompletion_top2{
    background-image:url(../../assets/images/orderbg3.jpg);
}
.orderCompletion_top b{
    display:inline-block;
    background:url(../../assets/images/icon9.png) no-repeat left center;
    background-size:0.35rem 0.35rem;
    vertical-align:middle;
    padding-left:0.48rem;
    font-weight:normal;
}
.orderCompletion_dl{
    background:#fff;
    padding:0.3rem;
    display: flex;
}
.orderCompletion_dl dt{
    width:1.52rem;
    height: .8rem;
    position: relative;
}
.orderCompletion_dl dt img{
    display:block;
    border-radius:.8rem;
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: 0;
    left: 0;
}
.orderCompletion_dl dd{
    color:#999;
    line-height:0.38rem;
    flex: 1;
    font-size:0.22rem;
}
.orderCompletion_dl dd b{
    color:#333;
    font-size:0.26rem;
    line-height:0.5rem;
}
.orderC_list{
    padding:0 0.3rem;
    background:#fff;
    margin-top:0.2rem;
}
.orderC_list table{
    width:100%;
}
.orderC_list th{
    padding:0.24rem 0;
    line-height:0.3rem;
    font-size:0.26rem;
    color:#999;
    width:1.28rem;
    text-align:left;
    border-bottom:1px solid #f1f1f1
}
.orderC_list td{
    padding:0.24rem;
    line-height:0.3rem;
    font-size:0.26rem;
    border-bottom:1px solid #f1f1f1
}
.orderC_list td p{
    color:#666;
    padding-top:0.05rem;
}










.order_cost{
    position:fixed;
    left:0;bottom:0;
    width:100%;
}
.order_costC{
    background:#fff;
    max-width:750px;
    height:1.1rem;
    display: flex;
    align-items: center;
    font-size:0.26rem;
    justify-content: space-between;
    padding: 0 .3rem;
    box-sizing:border-box;
    color:#999;
    position: relative;
}
.order_costC a{
    font-size:0.26rem;
    height:0.5rem;
    line-height:0.45rem;
    display:inline-block;
    text-align:center;
    border:1px solid #ff7c04;
    width: 2.88rem;
    color:#fff;
    background: #ff7c04;
    border-radius:0.3rem;
    vertical-align:middle;

}
.order_costC b{
    font-size:0.34rem;
    color:#ff7c04;
    padding: 0 .4rem 0 .2rem;
    font-weight:normal;
}
.order_djs{
    height: .4rem;
    line-height: .4rem;
    border:1px solid #c00;
    padding: 0 .15rem;
    background: #fff;
    color: #c00;
}