html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

label, input, select, form img, button, textarea {
    vertical-align: middle; }

address, caption, cite, code, dfn,
em, strong, th, optgroup {
    font-style: normal;
    font-weight: normal; }

html {
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    overflow-y: auto;
}

body {
    font-family: 'Microsoft yahei',Arial;background:#f5f5f5;}

html , body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, fieldset {
    border: 0;
    border-style: none; }

a {
    text-decoration: none;
    outline: none; }

a:hover {
    text-decoration: none; }

img{width:100%;}

i {
    font-style: normal; }

input, select, textarea, button, button:focus, button:active {
    outline: none; }

input, textarea {
    border: none; }

input[type=button] {
    border: none; }
input {-webkit-appearance:none;}
textarea {
    overflow: hidden;
    resize: none; }

ul, ol {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }



.bgfff{background:#fff}
.clearfix:after{content: "";display: block; clear: both;}
.mb20{margin-bottom:0.2rem;}
.h200{height:2rem;}


.picker-center-highlight:after,.picker-center-highlight:before{
    background-color: #999;
}
.picker-item.picker-selected{
    color: #333;
}
.picker-item{
    color: #999;
}

.mu-date-picker{
    display: none;
}

.mu-date-display,.mu-day-button-bg,.mu-appbar,.mu-raised-button-primary{
    background-color: #3696d3;
}
.mu-flat-button-primary{
    color: #3696d3;
}

.mu-popup-bottom{
    width: 100%;
    padding-bottom: .3rem;
}
.mu-content-block{
    padding: .3rem 0 0;
    text-align: center;
}
.mu-content-block textarea{
    width: 95%;
    border:1px solid #dcdcdc;
    padding: 5px;
}